$sans-serif: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;

$blue-light: #5995A8;
$blue-mid: #1181A6;
$blue-dark: #286073;

$yellow-light: #ffcb4d;
$yellow-mid: #ffb911;
$yellow-dark: #A67706;

$red-light: #FF684D;
$red-mid: #FF3611;
$red-dark: #A6E106;

$green-light: #43DF78;
$green-mid: #0DBF49;
$green-dark: #047C2D;

$white: #FFFFFF;

* {
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
body {
	font-family: $serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
	text-transform: lowercase;
	color: $blue-mid;
}

%clearfix {
	*zoom: 1;

	&:after {
		clear: both;
	}

	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

@import "normalize";

// Social buttons
@import "social-buttons";
.social-buttons {
	display: block;
	list-style: none;

	li {
		display: inline-block;

		a {
			background-color: $white;
		}

		.text {
			margin-left: 0.5em;
		}
	}
}

// Header
section,
header,
footer {
	min-height: 100vh;
}
header {
	padding: {
		top: 30vh;
		bottom: 0;
		left: 2vw;
		right: 2vw;
	}
	color: $white;
	background-color: $blue-mid;

	h1, h2 {
		color: $white;
		line-height: 1.15em;
		margin: 0;
	}
	h1 {
		font-size: 10em;
	}
	h2 {
		font-size: 4em;
	}
}

