$sans-serif: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;

/*!
 * The mid colors are taken from the Skyset color theme by divinepillage
 * https://kuler.adobe.com/Skyset-color-theme-3755901/
 */

$blue-mid: #0F1C28;
$blue-dark: darken($blue-mid, 5%);

$yellow-mid: #F3CF5B;
$yellow-dark: darken($yellow-mid, 5%);

$red-mid: #F07444;
$red-dark: darken($red-mid, 5%);

$green-mid: #136972;
$green-dark: darken($green-mid, 5%);

$white: #FFFFFF;
$black: #353535;

%clearfix {
	&:before,
	&:after {
		content: " ";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}

* {
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
body {
	font-family: $sans-serif;
	color: $black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
	text-transform: lowercase;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted currentColor;
}

%clearfix {
	*zoom: 1;

	&:after {
		clear: both;
	}

	&:before,
	&:after {
		content: " ";
		display: table;
	}
}

@import "normalize";

// Social buttons
@import "social-buttons";
.social-buttons {
	display: block;
	list-style: none;

	li {
		display: inline-block;

		a {
			background-color: $white;
		}

		.text {
			margin-left: 0.5em;
		}
	}
}

.content {
	margin-left: 30%;
}

// Header
.page {
	// min-height: 100vh;
	position: relative;
	padding: 2.5em;
	padding-top: 3.5em;

	&:before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -1.75em;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 3.5em 3.5em 0 3.5em;
		border-color: transparent transparent transparent transparent;
	}
}
.page.header {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 70%;
	color: $white;
	background-color: $yellow-mid;
	// background-color: $blue-mid;
}
.skills {
	@extend %clearfix;

	margin: 0;
	padding: 0;

	.skillset {
		width: 25em;
		max-width: 100%;
		float: left;
		list-style: none;
		padding: 0.5em;

		h5 {
			margin-top: 0;
			margin-bottom: 0.25em;
		}
	}
}

.navbar {
	display: none;
	@extend %clearfix;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	// border-bottom: 1px solid $white;

	background-color: $blue-mid;

	text-transform: lowercase;

	@media (max-width: 560px) {
		font-size: 0.8em;
	}
	@media (max-width: 450px) {
		font-size: 0.7em;
	}
}
.navbar-list {
	float: right;
	padding: 0;
	margin: 0;

	.navbar-item {
		float: left;

		a {
			display: inline-block;
			padding: 0.75em 1.5em;
			// border-left: 1px solid $white;
			border-bottom: none;
		}
	}
}

// Sections
.who,
.now,
.then,
.footer {
	color: $white;

	ul, ol {
		padding-left: 0;
	}
}

.who {
	background-color: $green-mid;

	// &:before {
	// 	border-top-color: $blue-mid;
	// }
}
.now {
	background-color: $red-mid;

	&:before {
		border-top-color: $green-mid;
	}
}
.then {
	background-color: $blue-mid;
	// color: $black;
	// background-color: $yellow-mid;

	&:before {
		border-top-color: $red-mid;
	}
}

.pull-text {
	font-size: 10em;
	text-transform: lowercase;
	font-weight: bold;
	line-height: 1em;

	@media (min-width: 600px) {
		float: left;
		margin-left: -1em;
	}
}
.page .content {
	max-width: 50em;
	margin: 0 auto;
	padding: 0 2.5em;
}

.where {
	background-color: $blue-dark;

	&:before {
		border-top-color: $yellow-mid;
	}
}

.project {
	ul {
		h5 {
			margin: 0;
		}
		p {
			margin-top: 0;
		}
	}
}
h2.header-2x {
	font-size: 3em;
	margin: 0.5em 0;
}
.copyright {
	font-size: 0.8em;
}
